body {
    background: url('../images/fondo.jpg') repeat;
}

.tablero-head .top-head {
    background-color: #ffffff;
}

.tablero-head .top-head .logos {
    padding: 1rem;
}

.tablero-head .top-head img.logo-midis {
    width: 180px;
}

.tablero-head .top-head img.logo-egtpi {
    width: 80px;
}

.top-head-title {
    background-color: #2379bc;
    padding: 0.5rem 1rem 0.8rem;
    text-align: center;
}

.top-head-title h1 {
    color: #ffffff;
    font-size: 1.5rem;
}

.tablero-head .navbar {
    background-color: #e75a53;
    padding: 1rem 0;
}

.tablero-head .nav-link,
.tablero-head .nav-link:hover {
    color: #ffffff;
}

.tablero-head .nav-link.show,
.tablero-head .nav-link:active {
    color: #e7f429;
    font-weight: bold;
}

.tablero-head .navbar-nav li {
    padding: 0 0.7rem;
}

.dropdown-item:active {
    background-color: #ffffff;
    color: #212529;
}

.navbar-toggler {
    font-size: 1rem;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 0.4rem 0.57rem 0.46rem 0.75rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler .select-page-text {
    padding-top: 0.2rem;
}

.tablero-body {
    padding: 1.5rem;
}

.tablero-body div {
    max-width: fit-content;
}

.tablero-body iframe {
    width: 90vw;
    height: 70vh;
}

/* -- Responsive Design -- */
@media (min-width: 576px) {
    .tablero-head .top-head img.logo-midis {
        width: 200px;
    }
}

@media (min-width: 768px) {
    .tablero-body iframe {
        width: 88vw;
        height: 75vh;
    }
}

@media (min-width: 992px) {
    .tablero-head .navbar {
        padding: 0.2rem 0.5rem;
    }
}

@media (min-width: 1082px) {
    .tablero-body iframe {
        width: 1082px;
        height: 692px;
    }
}
